.error-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 150px;
  text-align: center;
}

.error-page h1 {
  font-size: 3rem;
}

html {
  min-height: 100%;
  position: relative;
  font-size: 100%;
  overflow-x: hidden;
}

body {
  height: 100%;
  overflow-x: hidden;
  font-size: 18px;
  background-color: #fff;
  color: #383838;
  font-weight: 300;
  line-height: 24px;
  margin: 0;
}

a {
  text-decoration: none;
  color: #bbb7f2;
}

a:hover {
  text-decoration: none;
}

.sbi_photo_wrap .sbi_overlay {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.sbi_photo_wrap .sbi_overlay .inner {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.sbi_photo_wrap .sbi_overlay:hover .inner {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.test {
  color: red;
}
